
body{
    font-family:"Quicksand", sans-serif ;
    background: #ffff;
}
#web-btn{background-color: #FE8C45;
    font-size: 18px;
    font-weight: 400;
    color: #ffff;

}

#font-18{
    font-size: 18px;
    font-weight: 400;
    
}
#font-16{
    font-size: 16px;
    font-weight: 400;
    
}
#color{
    color: #8A47F6;
    
    
}

#bg-color{
    background-color:  #F3EDFE;
}
#btn2-color{
    background-color:  #E3D4FD;
}

.mr-5{
    margin-right: 500px;
}
#big-title{
    font-size: 74px;
    font-weight: 900;
    margin-top: 220px;
   
}
.span-border{
    
    border-bottom:25px solid #8A47F6;
    border-radius: 10px;
    width: 240px;
    margin-top:35px ;
    margin-left: 55%;
    
}
.line-m{
    margin-left: 23vw;
}
.we{
    margin-top: 60px;
}
.portfolio-h{
    height: 45px;
}
.gride-1{
    grid-template-columns: repeat(8,20vh);
    grid-template-rows: repeat(8,20vh);
   

    .cls1{grid-area: 1 / 1/ span 4/ 2 span; img{overflow: hidden;}}
    .cls2{grid-area: 1 / 3 / 3 /7;}
    .cls3{grid-area: 1 / 7 / 3 /9 ;}

    .cls4{grid-area: 3 / 3/ 5/5 ;}
    .cls5{grid-area: 3 / 5/ 5/9 ;}

    .cls6{ grid-area: 5 / 1/ 7/5;}
    .cls7{grid-area: 5 / 5/ 7/7;}
    .cls8{ grid-area: 5 / 7/ 9/9;}
    .cls9{grid-area: 7/ 1/ 9/3;}
        .cls10{grid-area: 7/ 3/ 9/7;}
}
